<% include ./partials/header %>

<h1>Index page!</h1>

<% blogs.forEach((blog) =>{ %>
    <div>
        <h2><%= blog.title %> </h2>
        <img src="<%= blog.image %>">
        <span> <b>Timestamp: </b><%= blog.created %> </span>
        <p><%= blog.body.substring(0, 100) %></p>
        <!-- Substring limits displaying the body (in this case, up to the 100th character)-->
        <a href="/blogs/<%= blog._id %>">Read More</a>
    </div>
<% })%>

<% include ./partials/footer %>
